{template "content","header"}
<div class="main">
<div class="container">
	<div class="panel panel-primary lsjj">
		<div class="panel-heading">
			<h2 class="panel-title model-title">{$CATEGORYS[$catid][catname]}</h2>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-9">
					<div class="crumbs"><a href="{siteurl($siteid)}">首页</a><span> > </span>{catpos($catid)} {$title}</div>
					<div id="Article">
						        	<h1 class="center">{$title}</h1>
						<p class="center"><span>{$inputtime}&nbsp;&nbsp;&nbsp;来源：{$copyfrom}&nbsp;&nbsp;&nbsp;评论：<a href="#comment_iframe" id="comment">0</a> 点击：</span><span id="hits"></span></p>
									<hr/>
									{if $description}<div class="summary" ><strong>摘要：</strong>{$description}</div>{/if}
									<div class="content">
									{if $allow_visitor==1}
										{$content}
										<!--内容关联投票-->
										{if $voteid}<script language="javascript" src="{APP_PATH}index.php?m=vote&c=index&a=show&action=js&subjectid={$voteid}&type=2"></script>{/if}
						                
									{else}
										<CENTER><a href="{APP_PATH}index.php?m=content&c=readpoint&allow_visitor={$allow_visitor}"><font color="red">阅读此信息需要您支付 <B><I>{$readpoint} {if $paytype}元{else}点{/if}</I></B>，点击这里支付</font></a></CENTER>
									{/if}
									</div>
						{if $titles}
						<fieldset>
							<legend class="f14">本文导航</legend><ul class="list blue row-2">
						{loop $titles $r}
							<li>{$n}、<a href="{$r[url]}">{$r[title]}</a></li>
						{/loop}
						</ul>
						</fieldset>
						{/if}
									<div id="pages" class="text-c">{$pages}</div>
						            <p style="margin-bottom:10px">
						            <strong>相关热词搜索：</strong>{loop $keywords $keyword}<a href="{APP_PATH}index.php?m=content&c=tag&a=lists&tag={urlencode($keyword)}" class="blue">{$keyword}</a> 	{/loop}
						            </p>
						            <p class="f14">
						                <strong>上一篇：</strong><a href="{$previous_page[url]}">{$previous_page[title]}</a><br />
						                <strong>下一篇：</strong><a href="{$next_page[url]}">{$next_page[title]}</a>
						            </p>
						          {pc:content action="relation" relation="$relation" id="$id" catid="$catid" num="5" keywords="$rs[keywords]"}
						              {if $data}
						                <div class="related">
						                    <h5 class="blue">延伸阅读：</h5>
						                    <ul class="list blue lh24 f14">
						                        {loop $data $r}
						                            <li>·<a href="{$r[url]}" target="_blank">{$r[title]}</a><span>({date('Y-m-d',$r[inputtime])})</span></li>
						                        {/loop}
						                    </ul>
						                </div>
						              {/if}
						          {/pc}
						          <div class="bk15"></div>
						            
						      </div> 
						      <div class="jiathis-share center" style="padding:20px 50px;">
						   
						      <!-- JiaThis Button BEGIN -->
								<div class="jiathis_style_32x32">
								<a class="jiathis_button_weixin"></a>
								<a class="jiathis_button_qzone"></a>
								<a class="jiathis_button_tsina"></a>
								<a class="jiathis_button_cqq"></a>
								<a class="jiathis_button_print"></a>
								<a href="http://www.jiathis.com/share?uid=2093235" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank"></a>
								<a class="jiathis_counter_style"></a>
								</div>
								<script type="text/javascript" >
								var jiathis_config={
									data_track_clickback:true,
									siteNum:5,
									sm:"copy,ishare,ujian,jcrb,tifeng",
									summary:"",
									shortUrl:false,
									hideMore:true
								}
								</script>
								<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js?uid=2093235" charset="utf-8"></script>
								<!-- JiaThis Button END -->
								
						       </div>
						      <div class="bk10"></div><hr>
						      <!-- UY BEGIN -->
                                                        <div id="uyan_frame"></div>
                                                        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2093235"></script>
                                                     <!-- UY END -->
				</div>
				<div class="col-md-3">
				
				<!--本期赣州知名律师推荐 start  -->
						<div class="panel panel-default">
						   <div class="panel-heading">
						      <h3 class="panel-title">
						      <span class="glyphicon glyphicon-plus"></span>
						         本期赣州知名律师推荐
						      </h3>
						   </div>
						   <div class="panel-body">
						   <img class="img-thumbnail center-block" width="70%" src="{IMG_PATH}badguy/resource/ganzhoulvshi.jpg" alt="赣州知名律师 赣州律师 陈金兰律师">
						  	 <blockquote><p class="small">陈金兰律师法学理论功底深厚，凭借过硬的法律素养于2013年9月参加国家司法考试（一次性）取得法律职业资格。陈金兰律师从事律师工作后办理及参办的案件有百余件，其中刑事案件100余件，合同（包括民间借贷）纠纷案件20余件，人身损害侵权案件10余件，离婚案件9件，其他案件10余件。</p></blockquote>
						   </div>
						   <ul class="list-group">
							  	<li class="list-group-item text-center"><strong>陈金兰律师</strong>
							  	&nbsp;&nbsp;<img src="{IMG_PATH}badguy/resource/wxlogo.png" alt="" width="25" height="25" class="weixinlogo">
								<div class="out" ><img src="{IMG_PATH}badguy/resource/weixinlogo-addon.jpg" alt="扫一扫 加我微信"  class="weixinlogo-addon" ></div>
							  	</li>
							  	<li class="list-group-item text-center"><strong>中华全国律师协会会员<br>赣州市律师协会会员</strong></li>
							  	<li class="list-group-item text-center"><strong>执业机构：</strong>江西君实律师事务所</li>
							  	<li class="list-group-item text-center"><strong>执业证号：</strong>13607201611931990<font style="color:red;font-weight: bolder;">（A证+全国通用）</font></li>
							  	<li class="list-group-item text-center">
							        <strong>手机：</strong>18179711204 &nbsp;&nbsp;&nbsp;&nbsp;
									 <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3070863734&site=qq&menu=yes">
									 	<img border="0" src="http://wpa.qq.com/pa?p=2:3070863734:51" alt="点击这里给我发消息" title="点击这里给我发消息" />
									 </a>
							  	</li>
							</ul>
						</div><!--本期赣州知名律师推荐 结束  -->
						
						<!-- 频道总排行 start -->
						<div class="panel panel-default">
						  <div class="panel-heading">
						      <span class="glyphicon glyphicon-plus"></span>频道总排行</div>
						  <table class="table">
						     {pc:content action="hits" catid="$catid" num="10" order="views DESC" cache="3600"}
									{loop $data $r}
										<tr><td><a href="{$r[url]}" target="_blank">{$r[title]}</a></td></tr>
									{/loop}
				             {/pc}
						   </table>
						</div> <!-- 频道总排行 结束 -->
						
						<!-- 频道本月排行 start -->
						<div class="panel panel-default">
						  <div class="panel-heading">
						      <span class="glyphicon glyphicon-plus"></span>频道本月排行</div>
						  <table class="table">
						     {pc:content action="hits" catid="$catid" num="8" order="monthviews DESC" cache="3600"}
									{loop $data $r}  
										<tr><td><span class="badge">{number_format($r[monthviews])}</span>&nbsp;&nbsp;<a href="{$r[url]}"{title_style($r[style])} class="title" title="{$r[title]}">{str_cut($r[title],56,'...')}</a></td></tr>
									{/loop}
				             {/pc}
						   </table>
						</div> <!-- 频道本月排行 结束 -->
				</div>  <!-- .col-md-3 end -->
			</div>
		</div>
	</div>
</div>





	 
  <!-- 右边 -->
    <div class="col-auto">
        
    </div>
</div>
<script type="text/javascript">
<!--
	function show_ajax(obj) {
		var keywords = $(obj).text();
		var offset = $(obj).offset();
		var jsonitem = '';
		$.getJSON("{APP_PATH}index.php?m=content&c=index&a=json_list&type=keyword&modelid={$modelid}&id={$id}&keywords="+encodeURIComponent(keywords),
				function(data){
				var j = 1;
				var string = "<div class='point key-float'><div style='position:relative'><div class='arro'></div>";
				string += "<a href='JavaScript:;' onclick='$(this).parent().parent().remove();' hidefocus='true' class='close'><span>关闭</span></a><div class='contents f12'>";
				if(data!=0) {
				  $.each(data, function(i,item){
					j = i+1;
					jsonitem += "<a href='"+item.url+"' target='_blank'>"+j+"、"+item.title+"</a><BR>";
					
				  });
					string += jsonitem;
				} else {
					string += '没有找到相关的信息！';
				}
					string += "</div><span class='o1'></span><span class='o2'></span><span class='o3'></span><span class='o4'></span></div></div>";		
					$(obj).after(string);
					$('.key-float').mouseover(
						function (){
							$(this).siblings().css({"z-index":0})
							$(this).css({"z-index":1001});
						}
					)
					$(obj).next().css({ "left": +offset.left-100, "top": +offset.top+$(obj).height()+12});
				});
	}

	function add_favorite(title) {
		$.getJSON('{APP_PATH}api.php?op=add_favorite&title='+encodeURIComponent(title)+'&url='+encodeURIComponent(location.href)+'&'+Math.random()+'&callback=?', function(data){
			if(data.status==1)	{
				$("#favorite").html('收藏成功');
			} else {
				alert('请登录');
			}
		});
	}

$(function(){
  $('#Article .content img').LoadImage(true, 660, 660,'{IMG_PATH}s_nopic.gif');    
})
//-->
</script>

<script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>
{template "content","footer"}